* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-color: #191919;
   
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}
/*Mudar o estilo do nome portifolio*/
.porfolio {
    color: white;
    font-size: 35px;
}

.porfolio span {
    color: aqua;
}

/*Mudar o estilo do menu*/
li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

li:hover {
    color: aqua;
    transition: 0.5s;
}

.link-menu {
    text-decoration: none;
    color: white;
}
/*Mudar o estilo do menu*/
.meu-nome {
    position: absolute;
    top: 50%;
    left: 10%;
}

h1 {
    color: white;
    font-size: 55px;
}

h1 span {
    color: aqua;
}

.meu-nome h3 {
    color: white;
    font-size: 25px;
}
/*Mudar o estilo do Sobre mim*/
section {
    display: flex;
    align-items: center;
    padding: 30px 15%;
    background-color: #191919;
}

section img {
    height: 400px;
    margin-right: 180px;
}

section div h2 {
    color: white;
    font-size: 75px;
}

section div p {
    color: white;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 60px;
}

section div button {
    color:white;
    background:#f9004d;
    height: 56px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
    cursor: pointer;    
}

section div button:hover {
    background-color: aqua;
    transition: 0.5s;
}
/*Mudar o estilo do Projetos*/
.projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 100px;
}

.projetos h2 {
    color: white;
    font-size: 75px;
    text-align: center;
}

.card {
    background-color: black;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
}

.card-alinhamento {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.card h5 {
    color: white;
    font-size: 24px;    
}

.card p {
    color: rgb(211, 145, 145);
    margin: 25px 35px;
}

.card a {
    background-color: #f9004d;
    color: white;
    padding: 10px 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.card a:hover {
    background-color: aqua;
}
/*Mudar o estilo do Rodape*/
footer {
    background-color: #191919;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h2 {
    color: white;
    font-size: 75px;
}

footer p {
    color: white;
    font-size: 25px;
}

.card-ali-skill {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    padding-top: 10px; /* Reduza o valor da margem interna superior */
    padding-bottom: 10px;
}

.card-footer {
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.card-footer h5 {
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid aqua;
    color: white;
}

.card-footer i {
    font-size: 45px;
    margin-right: 5px;
}
