* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html, body {
    height: 100%;
    overflow: auto;
    /* background: linear-gradient(50deg,#33CCFF,#006600); */
    background-color: #1C1C1C;
    transition: .5s;
}

/* Animação */
.anima {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
}

/* .container :nth-child(2){
    transition-delay: 400ms;
}
.container :nth-child(3){
    transition-delay: 700ms;
} */
.row :nth-child(2){
    transition-delay: 400ms;
}
.row :nth-child(3){
    transition-delay: 700ms;
}
/* .row :nth-child(2){
    transition-delay: 400ms;
} */

/* Estilização Site */
nav.navbar-transparente {
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.navbar-brand {
    padding: 5px 15px;
    font-size: 35px;
}

.navbar-brand span.white-text {
    color: white; /* Cor da parte "Porfo" */
}

.navbar-brand span.aqua-text {
    color: aqua; /* Cor da parte "lio" */
}

.navbar-header a {
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important; /* Cor do texto padrão */
    font-weight: 600;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: aqua !important; /* Cor do texto no hover */
}

.toggle-container {
    display: inline-block;
    margin-left: 15px;
    padding-top: 8px;
}

.toogle {
    width: 60px;
    height: 25px;
    background-color: #4d4d4d;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

.toogle .toogle-buttom {
    width: 30px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(0.9);
    position: absolute;
    left: 0;
    transition: .5s;
}

.toogle.dark-mode {
    background-color: #c3c3c3;
}

.toogle.dark-mode .toogle-buttom {
    left: 30px;
    background-color: #fff;
}

body.dark-mode{
    background-color: #e4e4e4;
}

body.dark-mode h2 {
    color: #000;
}

body.dark-mode .sobre p {
    color: #000;
}

body.dark-mode .sobre h3 {
    color: #000;
}

body.dark-mode .myskills p {
    color: #000;
}

/* ----------- Capa  ----------- */

#home {
    margin-top: 70px;
    padding-top: 120px;
    padding-bottom: 120px;
    background: url('./img/capa.png') no-repeat;
    background-size: cover;    
}
.nome-capa {
    font-size: 50px;
    color: white;
}

/* ----------- Sobre mim  ----------- */

.sobre {
    padding-top: 120px;
    padding-bottom: 120px;
}

.myfoto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.sobre h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: white;
    text-align: center;
    transition: .5s;
}

.sobre p {
    padding-top: 5px;
    font-size: 20px;
    letter-spacing: -0.04em;
    color: white;
    transition: .5s;
}

.sobre h3 {
    padding-top: 5px;
    font-size: 40px;
    letter-spacing: -0.04em;
    color: white;
    text-align: center;
    transition: .5s;
}

.media-logo img {
    width: 30px;
    height: auto;
    cursor: pointer;

}

/* ----------- Principais Projetos  ----------- */
.projetos {
    /*border: 5px solid blue;*/
    padding-top: 10px;
    padding-bottom: 100px;
}

.projetos h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.card {
    background-color: #101010;
    font-size: 20px;
    height: auto; /* Adiciona esta linha para definir a altura */
    border-radius: 20px;
}
.card-body {
    padding: 10px 20px;
}

.card-img-top {
    border-radius: 20px 0px 20px 0px;
    width: 100%;
    height: auto; /* Alterado para 'auto' para manter a proporção original da imagem */
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    color: white;
    font-weight: 500px;
    text-align: center;
}
.card-text {
    color: white;
    font-size: 15px;
    padding: 10px;
}




/* ----------- Myskills  ----------- */

.myskills {
    /* border: 5px solid blue; */
    padding-top: 10px;
    padding-bottom: 120px;
}

.distancia {
    padding-bottom: 20px;
}

.myskills h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: white;
    text-align: center;
}
.myskills p {
    /*border: 5px solid blue;*/
    font-size: 20px;
    color: white;
}

.card-body i {
    font-size: 40px; /* Escolha o tamanho desejado */
}

.skill-color {
    background-color: rgba(192, 148, 148, 0.5);
}

/* ----------- Media Queries  ----------- */
@media screen and (max-width: 768px){
    .myfoto {
        height: 50px;
        display: block;
        margin: 0 auto;
    }

    .card {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 992px){
    .myfoto {
        height: 80px;
        display: block;
        margin: 0 auto;
    }

    .card {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px){
    .myfoto {
        height: 200px;
        display: block;
        margin: 0 auto;
    }

    .card {
        margin-bottom: 20px;
    }
}
