* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

html, body {
    height: 100%;
    overflow: auto;
    background: linear-gradient(50deg,#33CCFF,#006600);
}

nav.navbar-transparente {
    padding: 15px 0px;
}

.navbar-brand {
    padding: 5px 15px;
    font-size: 35px;
}

.navbar-brand span.white-text {
    color: white; /* Cor da parte "Porfo" */
}

.navbar-brand span.aqua-text {
    color: aqua; /* Cor da parte "lio" */
}

.navbar-header a {
    font-size: 30px;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important; /* Cor do texto padrão */
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: aqua !important; /* Cor do texto no hover */
}

/* ----------- Capa  ----------- */

#home {
    margin-top: 70px;
    padding-top: 120px;
    padding-bottom: 120px;
    background: url(/img/Capa.png) no-repeat;
    background-size: cover;    
}
.nome-capa {
    font-size: 50px;
    color: white;
}

/* ----------- Sobre mim  ----------- */

.sobre {
    padding-top: 120px;
    padding-bottom: 120px;
}

.myfoto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.sobre h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: white;
    text-align: center;
}

.sobre p {
    padding-top: 5px;
    font-size: 20px;
    letter-spacing: -0.04em;
    color: white;
}

.sobre h3 {
    padding-top: 5px;
    font-size: 40px;
    letter-spacing: -0.04em;
    color: white;
}

.media-logo img {
    width: 30px;
    height: auto;
    cursor: pointer;

}

/* ----------- Principais Projetos  ----------- */
.projetos {
    /*border: 5px solid blue;*/
    padding-top: 10px;
    padding-bottom: 100px;
}

.projetos h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

.card {
    background-color: #101010;
    font-size: 20px;
    height: auto; /* Adiciona esta linha para definir a altura */
    border-radius: 20px;
}
.card-body {
    padding: 10px 20px;
}

.card-img-top {
    border-radius: 20px 0px 20px 0px;
    width: 100%;
    height: auto; /* Alterado para 'auto' para manter a proporção original da imagem */
    object-fit: cover;
}

.card-title {
    font-size: 20px;
    color: white;
    font-weight: 500px;
    text-align: center;
}
.card-text {
    color: white;
    font-size: 15px;
    padding: 10px;
}




/* ----------- Myskills  ----------- */

.myskills {
    /* border: 5px solid blue; */
    padding-top: 10px;
    padding-bottom: 120px;
}

.distancia {
    padding-bottom: 20px;
}

.myskills h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: white;
    text-align: center;
}
.myskills p {
    /*border: 5px solid blue;*/
    font-size: 20px;
    color: white;
}

.card-body i {
    font-size: 40px; /* Escolha o tamanho desejado */
}

.skill-color {
    background-color: rgba(192, 148, 148, 0.5);
}

/* ----------- Media Queries  ----------- */
@media screen and (max-width: 768px){
    .myfoto {
        height: 50px;
    }

    .card {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 992px){
    .myfoto {
        height: 60px;
    }

    .card {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px){
    .myfoto {
        height: 200px;
    }

    .card {
        margin-bottom: 20px;
    }
}
